.topmost-container{
    position:relative;
    width: 100%;
    height: 100%;
  }
   
  .intro-bg-img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #particles-js{
    position: relative;
    height: 100vh;
    background: black;
    mix-blend-mode: multiply;
  }

  #particles-js h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    /* Add any additional styles you need */
  }