:root{
  --body-background : #fff;
  --body_color : #000;
  --link-color : navy;
}

[data-theme="dark"]{
  --body-background : #000;
  --body_color : #fff;
  --link-color : cyan;
}

*{
  transition: all 0.1s ease-in-out;
}

body{
  padding: 0;
  margin: 0;
  overflow: auto;
  background-color: var(--body-background);
  color: var(--body_color);
}





.gallery-page{
  overflow: hidden;
}