@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
:root{
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-8xl: 27px;
  --font-size-41xl: 60px;
  --font-size-16xl: 35px;

  /* Colors */
  --body-background : #fff;
  --body_color : #000;
  --link-color : navy;
  --color-text-primary: #121212;
  --color-text-secondary: #191919;
  --color-text-tertiary: #2e2e2e;
  --color-red : #E8505B;
  --color-blue : #4E95FE;
  --color-yellow : #FFD966;
  --color-purple: #632F93;
  --color-green : #00D085;
  
}

[data-theme="dark"]{
  --body-background : #000;
  --body_color : #fff;
  --link-color : cyan;
  --color-text-primary: #dddddd;
  --color-text-secondary: #bfbfbf;
  --color-text-tertiary: #7e7e7e;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

body{
  font-family: 'Inter', sans-serif;
  overflow: auto;
  background-color: var(--body-background);
  color: var(--color-text-primary);
}

.gallery-page{
  overflow: hidden;
}